::ng-deep .q1-group {
  background-color: #ebaa2a !important;
}

::ng-deep .q2-group {
  background-color: blue;
}

::ng-deep .q3-group {
  background-color: green;
}

::ng-deep .q4-group {
  background-color: red;
}

::ng-deep .monthA {
  background-color: rgb(226, 195, 103);
}

::ng-deep .monthB {
  background-color: lightblue !important;
}

::ng-deep .monthC {
  background-color: lightgreen !important;
}

::ng-deep .monthD {
  background-color: lightcoral !important;
}

::ng-deep .cell-red {
  background-color: #a80b28 !important;
}

::ng-deep .cell-color-q1 {
  background-color: #d8e696 !important;
}

::ng-deep .cell-color-q2 {
  background-color: #a9acf0 !important;
}

::ng-deep .cell-color-q3 {
  background-color: #8db999 !important;
}

::ng-deep .cell-color-q4 {
  background-color: #cfaac9 !important;
}

::ng-deep .total-cell-color {
  background-color: #c96a1d !important;
  font-weight: bold;
}

::ng-deep .total-row {
  background-color: #c96a1d !important;
  font-weight: bold;
}

::ng-deep .data-grid {
  height: 70vh;
  width: 100%;
}

::ng-deep .grid-full-size {
  width: 100%;
  height: 100%;
}

button.active {
  background-color: #0d6efd;
  color: white;
}

a.nav-link.active {
  font-weight: bold;
  color: #0d6efd;
  border-bottom: 2px solid #0d6efd;
}

/* ::ng-deep .total-row .ag-cell[col-id="jan"] {
  background-color: #fdd !important;
} */
